@import '@assets/style/theme.scss';

// CSS that can pollute global styles. Use it with caution.
// If you use ShodowRoot for style pollution, this style will not be applied inside the content script.
.content-view-style-may-be-not-working {
  font-size: 30px;
}

.plus-container {
  position: fixed;
  // top: 272px;
  // left: 606px;
  text-align: center;
  padding: 5px 10px 5px 10px;
  background-color: #282c34;
  color: white;

  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
  border-radius: 10%;
}